<!DOCTYPE html>
<%- include("head.ejs") %>
<html>
  <script>
    const deleteBlog = async (id) => {
      try {
        const endpoint = `/delete-blog/${id}`;
        const res = await fetch(endpoint, {
          method: "DELETE",
        });
        const data = await res.json();
        window.location.href = data.redirect;
      } catch (e) {
        console.log(e.message);
      }
    };
  </script>
  <body>
    <%- include("nav.ejs") %>
    <nav>
      <ul>
        <li><a href="/create-blog"> Create Blog </a></li>
      </ul>
    </nav>
    <h1>Blog Page</h1>
    <p>List of topic to read about on</p>
    <% if (blogs.length > 0 ) { %> <% blogs.map( (blog) => { %>
    <div style="color: yellowgreen; margin: 10px">
      <p style="font-weight: bolder">
        <%= blog.title %>
        <button
          data-doc="<%= blog.id %>"
          class="btn"
          style="display: inline; float: right"
          onclick="deleteBlog(`<%= blog.id %>`)"
        >
          Delete
        </button>
      </p>

      <p><%= blog.body %></p>
      <hr />
    </div>

    <%}) %> <% } else {%>
    <h5>No blog to display</h5>
    <% } %> <%- include("footer.ejs") %>
  </body>
</html>
